<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6d2c142438.js" crossorigin="anonymous"></script>
   <style>
       .circle-icon {
    background: #c9eafd;
    border-radius: 50%;
    padding: 20px;
  }
  .circle-icon2 {
    background: #ffe4ef;
    border-radius: 50%;
    padding: 20px;
  }
  .circle-icon3 {
    background: #c0edff;
    border-radius: 50%;
    padding: 20px;
  }
  .circle-icon4 {
    background: #ffc4a8;
    border-radius: 50%;
    padding: 20px;
  }
  
  li{
    margin-top:5px;
  }
  .vl {
    border-left: 2px solid rgb(126, 129, 126);
    height: 60px;
    
    margin-left: 200px;
    margin-top:-70px;
    
  }
  
  
  
  #searchbar{
      margin-top: 2px;
      border-radius:20px;
      width:30vw;
      height:20px;
      background-color: rgb(215, 235, 241);
      border: 0px transparent;
      padding: 10px
    }
    
    
    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
    
    /*  styling scrollbars  */
    ::-webkit-scrollbar {
      width: 5px;
      height: 6px;
    }
    
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #a5aaad;
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #b9e0e6;
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #a5aaad;
    }
    
    * {
      margin: 0;
      padding: 0;
    }
    
    body {
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
    }
    
    .text-primary-p {
      color: #a5aaad;
      font-size: 14px;
      font-weight: 700;
    }
    
    .font-bold {
      font-weight: 700;
    }
    
    .text-title {
      color: #2e4a66;
    }
    
    .text-lightblue {
      color: #469cac;
    }
    
    .text-red {
      color: #cc3d38;
    }
    
    .text-yellow {
      color: #a98921;
    }
    
    .text-green {
      color: #3b9668;
    }
    
    .container {
      display: grid;
      height: 100vh;
      grid-template-columns: 0.8fr 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";
      /* grid-gap: 0.2rem; */
    }
    
    .navbar {
      background: #ffffff;
      grid-area: nav;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px 0 30px;
      border-bottom: 1px solid lightgray;
    }
    
    .nav_icon {
      display: none;
    }
    
    .nav_icon > i {
      font-size: 26px;
      color: #a5aaad;
    }
    
    .navbar__left > a {
      margin-right: 30px;
      text-decoration: none;
      color: #a5aaad;
      font-size: 15px;
      font-weight: 700;
    }
    
    .navbar__left .active_link {
      color: #265acc;
      border-bottom: 3px solid #265acc;
      padding-bottom: 12px;
    }
    
    .navbar__right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .navbar__right > a {
      margin-left: 20px;
      text-decoration: none;
    }
    
    .navbar__right > a > i {
      color: #a5aaad;
      font-size: 16px;
      border-radius: 50px;
      background: #ffffff;
      box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
      padding: 7px;
    }
    
    main {
      background: #b9e0e6;
      grid-area: main;
      
      overflow-y: auto;
    }
    
    .main__container {
      padding: 20px 35px;
    }
    
    .main__title {
      display: flex;
      align-items: center;
    }
    
    .main__title > img {
      max-height: 100px;
      object-fit: contain;
      margin-right: 20px;
    }
    
    .main__greeting > h1 {
      font-size: 24px;
      color: #2e4a66;
      margin-bottom: 5px;
    }
    
    .main__greeting > p {
      font-size: 14px;
      font-weight: 700;
      color: #a5aaad;
    }
    
    .main__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left : 30px;
    }
    
    .main__cards2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      margin: 10px 0;
    }
    
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 70px;
      padding: 0px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    }
    .card-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 70px;
      padding: 25px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    }
    
    .card-footer{
      background-color:inherit;
      /* filter: blur(1px); */
      width:100%;
      height:70px;
      margin-bottom:0px;
      opacity:0.5;  
       
      /* -webkit-filter: blur(0.5px) */
    }
    
     
  
    .cards2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 170px;
      padding: 25px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
      /* filter: blur(4px);
      -webkit-filter: blur(2px) */
    }
    
    .card_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .card_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .card_inner > span {
      font-size: 25px;
    }
    
    .midcards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-top: 10px;
      margin-bottom:20px;
    }
    
    .cards-left {
      padding: 25px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    }
    
    .cards-left__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .cards-left__title > div > h1 {
      font-size: 24px;
      color: #4b5bb4;
      margin-bottom: 5px;
    }
    
    .cards-left__title > div > p {
      font-size: 14px;
      font-weight: 700;
      color: #323435;
    }
    
    .cards-left__title > i {
      color: #ffffff;
      font-size: 20px;
      background: #ffc100;
      border-radius: 200px 0px 200px 200px;
      -moz-border-radius: 200px 0px 200px 200px;
      -webkit-border-radius: 200px 0px 200px 200px;
      border: 0px solid #000000;
      padding: 15px;
    }
    
    .cards-right {
      padding: 25px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    }
    
    .cards-right__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .cards-right__title > div > h1 {
      font-size: 24px;
      color: #2e4a66;
      margin-bottom: 5px;
    }
    
    .cards-right__title > div > p {
      font-size: 14px;
      font-weight: 700;
      color: #a5aaad;
    }
    
    .cards-right__title > i {
      color: #ffffff;
      font-size: 20px;
      background: #39447a;
      border-radius: 200px 0px 200px 200px;
      -moz-border-radius: 200px 0px 200px 200px;
      -webkit-border-radius: 200px 0px 200px 200px;
      border: 0px solid #000000;
      padding: 15px;
    }
    
    .cards-right__cards {
      display: grid;
      /* grid-template-columns: 1fr 1fr; */
      gap: 20px;
      margin-top: 0px;
    }
    
    .card1 {
      background: #d1ecf1;
      color: #35a4ba;
      text-align: center;
      padding: 25px;
      border-radius: 5px;
      font-size: 14px;
      
    }
    
    .card2 {
      background: #d2f9ee;
      color: #38e1b0;
      text-align: center;
      padding: 25px;
      border-radius: 5px;
      font-size: 14px;
    }
    
    .card3 {
      background: #d6d8d9;
      color: #3a3e41;
      text-align: center;
      padding: 25px;
      border-radius: 5px;
      font-size: 14px;
    }
    
    .card4 {
      background: #fddcdf;
      color: #f65a6f;
      text-align: center;
      padding: 25px;
      border-radius: 5px;
      font-size: 14px;
    }
    
    /*  SIDEBAR STARTS HERE  */
    
    #sidebar {
      background:#ffffff;
      grid-area: sidebar;
      overflow-y: auto;
      padding: 20px;
      width:10vw;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
    
    .sidebar__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #f3f4f6;
      margin-bottom: 30px;
      /* color: #E85B6B; */
    }
    
    .sidebar__img {
      display: flex;
      align-items: center;
    }
    
    .sidebar__title > div > img {
      width: 75px;
      object-fit: contain;
    }
    
    .sidebar__title > div > h1 {
      font-size: 18px;
      display: inline;
    }
    
    .sidebar__title > i {
      font-size: 18px;
      display: none;
    }
    
    .sidebar__menu > h3 {
      color:rgb(238, 39, 138);
     
      margin-top: 50px;
      /* margin-bottom: 5px; */
      /* padding: 0 10px; */
      font-weight: 700;
    }
    
    .sidebar__link {
      color: #f3f4f6;
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 5px;
      margin-top:20px
    }
    .sidebar__link:hover{
      background-color: rgb(245, 218, 231)
    }
    
    .active_menu_link {
      background: rgba(62, 161, 117, 0.3);
      color: #3ea175;
    }
    
    .active_menu_link a {
      color: #3ea175 !important;
    }
    
    .sidebar__link > a {
      text-decoration: none;
      color: #212122;
      font-weight: 800;
      font-size: 13px;
    }
    
    .sidebar__link > i {
      margin-right: 10px;
      font-size: 18px;
      color:#585d61
    }
    
    .sidebar__logout {
      margin-top: 20px;
      padding: 10px;
      color: #e65061;
    }
    
    .sidebar__logout > a {
      text-decoration: none;
      color: #e65061;
      font-weight: 700;
      text-transform: uppercase;
    }
    
    .sidebar__logout > i {
      margin-right: 10px;
      font-size: 18px;
    }
    
    .sidebar_responsive {
      display: inline !important;
      z-index: 9999 !important;
      left: 0 !important;
      position: absolute;
    }
    
    @media only screen and (max-width: 978px) {
      .container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.2fr 2.2fr; */
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
          "nav"
          "main";
      }
    
      #sidebar {
        display: none;
      }
    
      .sidebar__title > i {
        display: inline;
      }
    
      .nav_icon {
        display: inline;
      }
    }
    
    @media only screen and (max-width: 855px) {
       .main__cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
      }
     
      .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
      }
    }
    
    @media only screen and (max-width: 480px) {
      .navbar__left {
        display: none;
      }
    }
  
    
    .fab-container {
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 999;
        cursor: pointer;
    }
    
    .fab-icon-holder {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #016fb9;
    
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    }
    
    .fab-icon-holder:hover {
        opacity: 0.8;
    }
    
    .fab-icon-holder i {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 100%;
        font-size: 25px;
        color: #ffffff;
    }
    
    .fab {
        width: 60px;
        height: 60px;
        background: #d23f31;
    }
    
    .fab-options {
        list-style-type: none;
        margin: 0;
    
        position: absolute;
        bottom: 70px;
        right: 0;
    
        opacity: 0;
    
        transition: all 0.3s ease;
        transform: scale(0);
        transform-origin: 85% bottom;
    }
    
    .fab:hover+.fab-options,
    .fab-options:hover {
        opacity: 1;
        transform: scale(1);
    }
    
    .fab-options li {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
    }
    
    .fab-label {
        padding: 2px 5px;
        align-self: center;
        user-select: none;
        white-space: nowrap;
        border-radius: 3px;
        font-size: 16px;
        background: #666666;
        color: #ffffff;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
    }
    
    


   </style>



    <link rel="stylesheet" href="/css/dashcss.css" />



    
    <title>HMS</title>
  </head>
<body>
    
    <div class="container">
      <nav style ="margin-left:-7vw;"class="navbar">
        
        
        
      </nav>

      <main style ="margin-left:-7vw;border-radius:1%;">
        <div class="main__container">
          
          

          <!-- MAIN CARDS STARTS HERE -->
          <div class="main__cards">
            <div class="card-1">
              
              <div class="card_inner">
                
                <i style="color:rgb(102, 177, 238);"
                class="fas fa-wheelchair fa-3x circle-icon "
                aria-hidden="true"
              ></i>
                <p style="font-size:150%; color:black;margin-right: 20px;"class="text-primary-p">Total Patients-{{i}}</p> 
                
              </div>
            </div>

            <div class="card-1">
              
              <div class="card_inner">
                <i style="color:rgb(252, 117, 211);"
                class="fas fa-user-md fa-3x circle-icon2">

                </i>
                <p style="font-size:150%; color:black;margin-right: 20px;"class="text-primary-p">Total Doctors<br>{{j}}<br><span style="font-size:12px;color:rgb(105, 96, 96)"></span></p> 
                
              </div>
            </div>

             <div class="card-1">
              
              <div class="card_inner">
                <i style="color:rgb(60, 178, 214);"
                class="fas fa-procedures fa-2x circle-icon3">
              </i>
                <p style="font-size:130%; color:black;margin-right: 20px;"class="text-primary-p">Available Rooms<br>{{k}}<br><span style="font-size:12px;color:rgb(105, 96, 96)"></span></p> 
                
              </div>
            </div>

            {{!-- <div class="card-1">
              
              <div class="card_inner">
                <i style="color:rgb(238, 116, 59);"
                class="fas fa-ban fa-2x fa-rotate-60 circle-icon4"
                aria-hidden="true"
              ></i>
                <p style="font-size:110%; color:black;margin-right: 20px;"class="text-primary-p">Blocked Amount<br><br><span style="font-size:12px;color:rgb(105, 96, 96)">Daily Average</span></p> 
                
              </div>
            </div> --}}
          </div> 
          <!-- MAIN CARDS ENDS HERE -->

          <!-- CHARTS STARTS HERE -->
         
      </main>

            {{!-- <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
        </div> --}}
         <nav style ="margin-left:-7vw;margin-top:-1vw"class="navbar">
        
        <div class="">
                  

      
             <form action="/displaybill" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="bill_id" class="form-control" placeholder="Bill ID" required>
               </div>
             
               
             </div>
             <div class="modal-footer">
             
               <button type="submit" class="btn btn-primary">Search</button>
             </div>
           </div>
         </div>
        </div>
     </form>

      


        </div>
        
      </nav>
     
      <div  id="sidebar">
        <div class="sidebar__title">
        <div class="sidebar-userimg">
            {{!-- <img src="/public/img/scr.png" style="width:5vw;margin-left:25px ; margin-top:30px" alt="Userimage" /> --}}
            <i style="color:rgb(238, 102, 102);margin-left:10px" class="fas fa-hospital-alt fa-5x"></i>
        </div>
        
        </div>
  
                                                                          
        <div class="sidebar__menu">
        
        <h3 style="margin-top: 10px;">DASHBOARD</h3>
        <div class="sidebar__link">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="/">Dashboard</a>
        </div>
        <h3 style="margin-top: 10px;">PATIENTS</h3>
        
        <div class="sidebar__link">
            <i class="fas fa-edit"></i>
            <a href="/patient">Patients List</a>
        </div>
        <h3>DOCTORS</h3>
        
        <div class="sidebar__link">
            <i class="fas fa-edit"></i>
            <a href="/doctor">Doctors List</a>
        </div>
        <h3>PHARMACY</h3>
        
        <div class="sidebar__link">
            <i class="fas fa-edit"></i>
            <a href="/medicine">Medicine</a>
        </div>
        <h3>ROOMS</h3>
        
        <div class="sidebar__link">
            <i class="fas fa-edit"></i>
            <a href="/rooms">Available Rooms</a>
        </div>
        <h3 style="margin-top: 10px;">BILLS</h3>
        <div class="sidebar__link">
            <i class="fas fa-history"></i>
            <a href="/bill">All Bills</a>
        </div>
        
      </div>
      </div>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>






<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="/js/barchart.js"></script>





    
  
    
 
   
 
   
   
</body>
</html>




